Resources/3M/BackUp/*
!Resources/3M/BackUp/.gitkeep
Resources/3M/export_import/*
!Resources/3M/export_import/.gitkeep
Resources/3M/rdf_visualizer_files/*
!Resources/3M/rdf_visualizer_files/.gitkeep
Resources/3M/uploads/Mapping/example_files/*
!Resources/3M/uploads/Mapping/example_files/.gitkeep
Resources/3M/uploads/Mapping/generator_files/*
!Resources/3M/uploads/Mapping/generator_files/.gitkeep
Resources/3M/uploads/Mapping/Other/*
!Resources/3M/uploads/Mapping/Other/.gitkeep
Resources/3M/uploads/Mapping/rdf_schema/*
!Resources/3M/uploads/Mapping/rdf_schema/.gitkeep
Resources/3M/uploads/Mapping/uploadsTemp/*
!Resources/3M/uploads/Mapping/uploadsTemp/.gitkeep
Resources/3M/uploads/Mapping/xml_schema/*
!Resources/3M/uploads/Mapping/xml_schema/.gitkeep